.product-list {
    h2 {
        margin-bottom: 1rem;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        input[type="text"] {
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid #ccc;
            flex-grow: 1;
            margin-right: 1rem;
        }

        label {
            margin-right: 0.5rem;
        }

        select {
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: inherit;
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            padding: 1rem;
            text-align: left;
            border: 1px solid #ccc;
        }

        th {
            background-color: #f0f0f0;
            font-weight: bold;
        }

        td {
            img {
                display: block;
                margin: auto;
                max-width: 100%;
                height: auto;
            }
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #e6e6e6;
        }
    }
}
