.change-icon__modal {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-icon__modal-content {
  display: flex;

  border: 1px solid rgba(200, 170, 110, 0.2);
  position: relative;
  .change-icon__close {
    color: #fff;
    position: absolute;
    right: 0;
  }
}

.change-icon__items {
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  &::-webkit-scrollbar-track {
    background: #767b7d;
    border-radius: 100px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background: rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(rgba(0, 0, 0), 0.6);
  }
}
.change-icon__item {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
